body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 35px;;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.saldo {
  color: rgb(117, 80, 23);
  font-size: 3rem;
  font-weight: 700;
}

.btn-sm {
  padding: 0.12rem 0.5rem;
}

table {
  table-layout: fixed;
}

table th, table td {
  overflow: hidden;
}
